@model WinStudio.Passport.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Profile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NickName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NickName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BirthDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastLoginTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLoginTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValidMsg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValidMsg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EntityType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EntityType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deleted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
